<center><h1 style=text-allign:center;>•About Us•</h1></center>

<br> 

<br>

<h2> Welcome to our website! Our names are Maeve, Noor, and Bia. We are Kode with Klossy scholars and created this site as our final project! We are inspired by fashion and beauty and wanted to incorporate them into our project. We hope that our site and resources we created and provided helps you express yourself through your own fashion and beauty!</h2>