<head>
        <title>Foundation</title>
    </head>
    
    <body>
        
        <center>
        
          <form method="POST" action="/result">
               <br>
               <br>
              <h1>Foundation Quiz</h1>
              
              <h2>What is your skin type?</h2>
                  <input type="radio" name="skin" value="A">Oily<br>
                  <input type="radio" name="skin" value="B">Dry<br>
                  <input type="radio" name="skin" value="C">Combination<br>
              
              <h2>What finish do you want?</h2>
                  <input type="radio" name="finish" value="D">Matte<br>
                  <input type="radio" name="finish" value="E">Natural<br>
                  <input type="radio" name="finish" value="F">Glowy<br>
                  
              <h2>What type of foundation coverage do you want?</h2>
                  <input type="radio" name="coverage" value="G">Light/natural<br>
                  <input type="radio" name="coverage" value="H">Medium<br>
                  <input type="radio" name="coverage" value="I">Full<br>      
              
              
              <br>
              <button type="submit">submit!</button>
              
          </form>
        
        </center>
    </body>