
<!DOCTYPE html>
<html>
    <head>
        <title>Foundation & Concealer</title>
    </head>
    
    <body>
        
        
        <form method="POST" action="/results">
            
            <h2>What is your skin type?</h2>
                <input type="radio" name="skin" value="A">Oily<br>
                <input type="radio" name="skin" value="B">Dry<br>
                <input type="radio" name="skin" value="C">Combination<br>
            
            <h2>What skin tone do you have?</h2>
                <input type="radio" name="skin_tone" value="D">Fair<br>
                <input type="radio" name="skin_tone" value="E">Medium<br>
                <input type="radio" name="skin_tone" value="F">Dark<br>
                
            <h2>What type of foundation coverage do you want?</h2>
                <input type="radio" name="coverage" value="G">Light/natural<br>
                <input type="radio" name="coverage" value="H">Medium<br>
                <input type="radio" name="coverage" value="I">Full<br>      
            
            
            <br>
            <button type="submit">submit!</button>
            
        </form>
        
    </body>
</html>