<!DOCTYPE html>
<html>
    <head>
        <title>Foundation & Concealer</title>
    </head>
    
    <body>
        
        
        <form method="POST" action="/results">
            
            <h1>Foundation & Concealer Quiz</h1>
            
            <h2>What is your skin type?</h2>
                <input type="radio" name="skin" value="A">Oily<br>
                <input type="radio" name="skin" value="B">Dry<br>
                <input type="radio" name="skin" value="C">Combination<br>
            
            <h2>What finish do you want?</h2>
                <input type="radio" name="finish" value="D">Matte<br>
                <input type="radio" name="finish" value="E">Natural<br>
                <input type="radio" name="finish" value="F">Glowy<br>
                
            <h2>What type of foundation coverage do you want?</h2>
                <input type="radio" name="coverage" value="G">Light/natural<br>
                <input type="radio" name="coverage" value="H">Medium<br>
                <input type="radio" name="coverage" value="I">Full<br>      
            
            
            <br>
            <button type="submit">submit!</button>
            
        </form>
        
    </body>
    
    <head>
        <title>Lipstick</title>
    </head>
    
    <body>
        
        
        <form method="POST2" action="/results2">
          
            <h1>Lipstick Quiz</h1>
            
            <h2>What skin tone do you have?</h2>
                <input type="radio" name="skin_tone" value="A">Fair<br>
                <input type="radio" name="skin_tone" value="B">Medium<br>
                <input type="radio" name="skin_tone" value="C">Dark<br>
            
            <h2>What hair color do you have?</h2>
                <input type="radio" name="hair" value="D">Light Brown<br>
                <input type="radio" name="hair" value="E">Dark Brown<br>
                <input type="radio" name="hair" value="F">Blonde<br>
                <input type="radio" name="hair" value="G">Red<br>
                
            <h2>What type of finish are you looking for?</h2>
                <input type="radio" name="finish" value="G">Glossy<br>
                <input type="radio" name="finish" value="H">Matte<br>
                <input type="radio" name="finish" value="I">Satin<br>      
            
            
            <br>
            <button type="submit">submit!</button>
            
        </form>
    
    <head>
        <title>Primer</title>
    </head>
    
    <body>
        
        
        <form method="POST3" action="/results3">
            
            <h1>Primer Quiz</h1>
            
            <h2>What is your skin type?</h2>
                <input type="radio" name="skin" value="A">Fair<br>
                <input type="radio" name="skin" value="B">Medium<br>
                <input type="radio" name="skin" value="C">Dark<br>
            
            <h2>What skin tone do you have?</h2>
                <input type="radio" name="skin_tone" value="D">Fair<br>
                <input type="radio" name="skin_tone" value="E">Medium<br>
                <input type="radio" name="skin_tone" value="F">Dark<br>
                <input type="radio" name="skin_tone" value="G">Red<br>
                
            <h2>What type of finish are you looking for?</h2>
                <input type="radio" name="finish" value="H">Glowy<br>
                <input type="radio" name="finish" value="I">Matte<br>
                <input type="radio" name="finish" value="J">Poreless<br>      
                <input type="radio" name="finish" value="J">Smooth<br>  
            
            <br>
            <button type="submit">submit!</button>
            
        </form>
    
    
    
    
    
</html>