<head>
        <title>Lipstick</title>
    </head>
    
    <body>
        
        <center>
        
          <form method="POST" action="/results2">
            
              <br>
              <br>
              <h1>Lipstick Quiz</h1> <br> <br>
              
              <h2>What skin tone do you have?</h2>
                  <input type="radio" name="skin_tone" value="A">Fair<br>
                  <input type="radio" name="skin_tone" value="B">Medium<br>
                  <input type="radio" name="skin_tone" value="C">Dark<br>
              
              <h2>What hair color do you have?</h2>
                  <input type="radio" name="hair" value="D">Light Brown<br>
                  <input type="radio" name="hair" value="E">Dark Brown<br>
                  <input type="radio" name="hair" value="F">Blonde<br>
                  
              <h2>What type of finish are you looking for?</h2>
                  <input type="radio" name="finish" value="G">Glossy<br>
                  <input type="radio" name="finish" value="H">Matte<br>
                  <input type="radio" name="finish" value="I">Satin<br>      
              
              
              <br>
              <button type="submit">submit!</button>
              
          </form>
        </center>
    </body> 
    