<head>
        <title>Primer</title>
    </head>
    
    <body>
        
        
        <form method="POST" action="/results3">
            
            <br>
            <br>
            <h1>Primer Quiz</h1>
            
            <h2>What is your skin type?</h2>
                <input type="radio" name="skin" value="A">Fair<br>
                <input type="radio" name="skin" value="B">Medium<br>
                <input type="radio" name="skin" value="C">Dark<br>
            
            <h2>What skin tone do you have?</h2>
                <input type="radio" name="skin_tone" value="D">Fair<br>
                <input type="radio" name="skin_tone" value="E">Medium<br>
                <input type="radio" name="skin_tone" value="F">Dark<br>
                <input type="radio" name="skin_tone" value="G">Red<br>
                
            <h2>What type of finish are you looking for?</h2>
                <input type="radio" name="finish" value="H">Glowy<br>
                <input type="radio" name="finish" value="I">Matte<br>
                <input type="radio" name="finish" value="J">Poreless<br>      
                <input type="radio" name="finish" value="J">Smooth<br>  
            
            <br>
            <button type="submit">submit!</button>
            
        </form>
    </body>