<html>
  
  <head>
    <title>Quizzes Page</title>
    <link rel="stylesheet" type="text/css" href="quizzes_style.css">
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  </head>
  
  <body>
  
    <!--<center>-->
      
    <!--  <h1>Which quiz would you like to take?</h1>-->

    <!--  <button class="button"> <a href="/foundation_quiz">Foundation Quiz</a> </button> <br> <br>-->
    <!--  <button class="button"> <a href="/lipstick_quiz">Lipstick Quiz</a> </button> <br> <br> -->
    <!--  <button class="button"> <a href="/primer_quiz">Primer Quiz</a> </button>    <br> <br>-->
    <!--  <button class="button"> <a href="/skincare_quiz">Skincare Quiz</a> </button> <br> <br>-->
      
    <!--</center>-->
   <div class="w3-content" style="max-width:1500px">

    <center>
  
      <div class="w3-padding-32">
       <h1>Q•U•I•Z•Z•E•S</h1>
      <div class="w3-padding-32 w3-panel w3-center w3-opacity" style="padding:128px 16px">
        <div class="w3-bar w3-border">
        <a href="/foundation_quiz" class="w3-bar-item w3-button">Foundation Quiz</a>
        <a href="/lipstick_quiz" class="w3-bar-item w3-button w3-light-grey">Lipstick Quiz</a>
        <a href="/primer_quiz" class="w3-bar-item w3-button">Primer Quiz</a>
        <a href="/skincare_quiz" class="w3-bar-item w3-button w3-hide-small w3-light-grey">Skincare Quiz</a>
      </div>
    </center>
    
  </body>
  
</html>
