<html>
  
  <head>
    <title>Quizzes Page</title>
    <link rel="stylesheet" type="text/css" href="quizzes_style.css">
  </head>
  
  <body>
    
    <h1>Which quiz would you like to take?</h1>

    <button class="button"> <a href="/foundation_quiz">Foundation Quiz</a> </button>
    <button class="button"> <a href="/lipstick_quiz">Lipstick Quiz</a> </button>
    <button class="button"> <a href="/primer_quiz">Primer Quiz</a> </button>
    <button class="button"> <a href="/skincare_quiz">Skincare Quiz</a> </button>
    
  </body>
  
</html>
