
<h1>Which quiz would you like to take?</h1>

<button> <a href="/foundation_quiz">Foundation Quiz</a> </button>
<button> <a href="/lipstick_quiz">Lipstick Quiz</a> </button>
<button> <a href="/primer_quiz">Primer Quiz</a> </button>
<button> <a href="/skincare_quiz">Skincare Quiz</a> </button>